.ico_key{
  color: #666;
  width: fit-content;
  height: fit-content;
  min-width: 26px;
  min-height: 26px;
  text-align: center;
  padding: 2px 5px;
  background: #FFF;
  outline: 1px double #dde1e7; 
  outline-offset: 2px;
  border-radius: 4px;
}

