.app{
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background: url("https://cn.bing.com//th?id=OHR.CordouanLighthouse_ZH-CN6267155218_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp");
  div, header{
    box-sizing: border-box;
  }
}
.container {
  $itemWidth: 24px;
  $margin: 0.5px;
  $perHeight: calc(1.732 * $itemWidth + 4 * $margin - 1px);
  // border: 1px solid red;
  height: 70px;
  width: calc(100vw + $itemWidth);
  transform: translate(calc($itemWidth / -2), -6px);
  // background: rgba(255,255,255,var(--glass-opacity));
  position: relative;
  overflow: hidden;
  font-size: 0;
  // cursor: pointer;

  &::before {
    content: "";
    height: 100%;
    width: calc(($itemWidth / 2) + calc($margin / 2));
    shape-outside: repeating-linear-gradient(
      transparent 0,
      transparent 24px,
      #000 24px,
      #000 $perHeight
    );
    float: left;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      45deg,
      #f44336,
      #ff9800,
      #ffe607,
      #09d7c4,
      #1cbed3,
      #1d8ae2,
      #bc24d6
    );
    z-index: 1;
    mix-blend-mode: darken;
    animation: change 8s infinite linear;
    mask: radial-gradient(
      circle at var(--xPos) var(--yPos),
      #000 0,
      #000 50px,
      transparent 150px,
      transparent 150px
    );
  }

  .item {
    width: $itemWidth;
    height: calc($itemWidth * 1.1547);
    background: #fff;
    flex: 0 0 auto;
    // border: 1px solid #fff;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin: $margin;
    margin-bottom: calc($margin - $itemWidth * 0.2885);
    display: inline-block;
    z-index: 2;

    // &:hover {
      // transition: 0s;
      // background: transparent;
      // filter: drop-shadow(-6px 0 1px rgba(255,255,255, 1))
    // }
  }

  @keyframes change {
    100% {
      filter: hue-rotate(360deg);
    }
  }
}
