.theme-container {
  canvas{
    display: block;
  }
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40px, 60px));
  grid-template-rows: repeat(auto-fill,minmax(40px, 60px));
  gap: 14px;
}